<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
</head>
<body>
    <h1>welcome to Machine Learning, algo cualquier cosa uja cosa, a donde tan muchacho</h1>
    <p>esta pagina sera para nuestra clase cambioo extraños hay en mi. cambiando de carrera</p>
    <p>la buena mi genteeee nos e a lgo</p>
    {%if name%}
    <p> Hello,<strong> {{name}} </strong> </p>
    {%else%}
    <p>Hello</p>
    {%endif%}

</body>
</html>