<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear regression Grades</title>
</head>
<body>
    <h1>Linear regression: Calculate grade depends on study hours</h1>
   <form method="post">
    <label for = "hours"> Study Hours</label> 
    <input type="number" name="hours"required>
    <button type="submit"> predict </button>
 </form>
   {% if results is not none%}
     <h2>estimate Grade: {{ result}}</h2>
   {% endif %}
  

</body>
</html>